:root {
    --overall-font-size: 62.5%;

    --AliceBlue: #EAF2FD;
    --Black: #000000;
    --BleuDeFrance: #2A7AE4;
    --ChineseSilver: #C8C8C8;
    --Cultured: #F5F5F5;
    --OuterSpace: #464646;
    --Platinum: #E5E5E5;
    --White: #FFFFFF;
    --QuickSilver: #A2A2A2;
    --ForestGreen: #278027;
    --FerrariRed: #FF2300;
    --OriolesOrange: #FC4023;

    --Raleway: 'Raleway';

    --gutter-x: 1.6rem * 2;         /** Canal lateral en x (1.6rem) */
}