.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    border: 1px dotted red;
    box-sizing: border-box;
}

.search-icon__link {
    border: 1px dotted blue;
    box-sizing: border-box;
}