.btn {
    background-color: transparent;
    border: 2px solid transparent;
    display: inline-block;
    padding: 1.2rem 1.6rem;
}

.btn-primary {
    background-color: var( --BleuDeFrance );
    border: 2px solid var( --BleuDeFrance );
    color: var( --White );
    padding: 1.2rem 1.6rem;
}

.btn-login {
    padding: 1.2rem calc( 1.6rem * 3 );
}
.btn-search {
    align-items: center;
    background: var( --Cultured );
    border-radius: 0 5rem 5rem 0;
    border: 1px solid var( --Cultured );
    display: flex;
    height: var( --height-icon );
    justify-content: center;
    padding: 0.3rem;
}

.btn-outline-primary {
    background-color: var( --White );
    border: 2px solid var( --BleuDeFrance );
    color: var( --BleuDeFrance );
}

.btn-primary:disabled,
.btn-primary[disabled] {
    opacity: .5;
}