.icon {
    display: block;
    height: 2.2rem;
    width: 2.2rem;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2rem;
}

.icon-delete {
    background-image: url( '../../svg/trash-icon.svg' );
}

.icon-edit {
    background-image: url( '../../svg/pencil-icon.svg' );
}