.search-icon__link {
    align-items: center;
    display: flex;
    fill: var( OuterSpace );
    height: var( --height-icon );
    justify-content: center;
    min-width: 1.7rem;
    width: var( --width-icon );
}

.search-icon__background {
    -webkit-mask: url( '../../../svg/search-icon.svg' ) no-repeat 50% 50%;
    background-color: var( --QuickSilver );
    display: flex;
    height: var( --height-icon );
    mask: url( '../../../svg/search-icon.svg' ) no-repeat 50% 50%;
    width: var( --width-icon );
}