.site-logo {
    display: block;
    min-width: 13rem;
    text-align: left;
    transition: all 0.5s;
    width: 70%;
}

.site-logo__footer {
    margin: 2.4rem auto;
    width: 50%;
}

@media ( min-width: 992px ) {
    .site-logo__footer {
        margin: 2.4rem 0;
    }
}

@media ( min-width: 1200px ) {
    .site-logo {
        width: 90%;
    }
}