.product-item__icons {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: end;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.product-item {
    font-size: 1.4rem;
    text-align: left;
    position: relative;
}

.product-item > *:nth-last-child( -n + 3 ) {
    font-size: 1.6rem;
    text-align: left;
    margin: .6rem 0;
}

.product-item .product-item__image {
    min-height: 16rem;
    min-width: 16rem;
    object-fit: cover;
    position: relative;
    width: 100%;
}

.product-item .product-item__name {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.644rem;
}

.product-item .product-item__price {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.878rem;
}

.product-item .product-item__icons {
    position: absolute;
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: end;
    z-index: 1;
}

@media ( min-width: 768px ) {
    .product-item .product-item__image {
        min-height: 17.6rem;
        min-width: 17.6rem;
    }
}